{% if page.lang == 'zh' %}{% assign profile = site.data.profile_zh %}{% else %}{% assign profile = site.data.profile %}{% endif %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>{% if page.lang == 'zh' %}教育经历{% else %}Education{% endif %}</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in profile.education %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="height: 18px; width: auto;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>{% if page.lang == 'zh' %}实习经历{% else %}Experience{% endif %}</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in profile.experience %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="height: 18px; width: auto;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                        {% if item.desc %}
                                        <div class="small text-muted">{{ item.desc }}</div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if profile.awards %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>{% if page.lang == 'zh' %}荣誉奖励{% else %}Honors & Awards{% endif %}</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in profile.awards %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
